[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/bundler"]
	path = vim/bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/nginx"]
	path = vim/bundle/nginx
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = https://github.com/mustache/vim-mustache-handlebars.git
